In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('postgresql://chuckcao:localhost@localhost:5432/atxac')
atxac_outcomes = pd.read_csv('Austin_Animal_Center_Outcomes.csv')
atxac_outcomes.to_sql('atxac_outc', engine, index=False)
atxac_intakes = pd.read_csv('Austin_Animal_Center_Intakes.csv')
atxac_intakes.to_sql('atxac_int', engine, index=False)

ValueError: Table 'atxaco' already exists.

In [17]:
query = "SELECT * \
FROM atxac_outc \
LEFT JOIN atxac_int \
WHERE \"Animal Type\" = 'Cat'"
atxac_df = pd.read_sql(query, engine)

In [18]:
atxac_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,None,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A674754,None,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
2,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,None,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
3,A680969,*Zeus,08/05/2014 04:59:00 PM,08/05/2014 04:59:00 PM,06/03/2014,Adoption,None,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
4,A684617,None,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black

In [19]:
atxac_df.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [20]:
atxac_df.shape

(46600, 12)

In [21]:
atxac_df.tail()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
46595,A828865,None,01/27/2021 03:29:00 PM,01/27/2021 03:29:00 PM,01/27/2019,Euthanasia,Rabies Risk,Cat,Intact Female,2 years,Domestic Shorthair,Torbie
46596,A828873,Sox,01/27/2021 04:22:00 PM,01/27/2021 04:22:00 PM,01/27/2009,Euthanasia,Suffering,Cat,Intact Female,12 years,Domestic Shorthair,Black/White
46597,A828790,Patches,01/27/2021 04:39:00 PM,01/27/2021 04:39:00 PM,07/26/2019,Transfer,Snr,Cat,Neutered Male,1 year,Domestic Shorthair,White/Brown Tabby
46598,A828821,None,01/27/2021 05:32:00 PM,01/27/2021 05:32:00 PM,01/26/2020,Transfer,None,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Brown Tabby/White
46599,A678578,Sami,05/26/2014 02:46:00 PM,05/26/2014 02:46:00 PM,10/10/2013,Adoption,None,Cat,Spayed Female,7 months,Domestic Shorthair Mix,Brown Tabby/White

In [25]:
atxac_df.count()

Animal ID           46600
Name                25942
DateTime            46600
MonthYear           46600
Date of Birth       46600
Outcome Type        46600
Outcome Subtype     29034
Animal Type         46600
Sex upon Outcome    46600
Age upon Outcome    46600
Breed               46600
Color               46600
dtype: int64